/*css*/
/*div>div{
	width: 100px;height: 100px;background-color: pink;
}

.miwou-enter,.miwou-leave-active{ opacity: 0;}
.miwou-enter-active, .miwou-leave-active{
	transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
  
}*/

#masu{width: 100px;height: 100px;background-color: pink;}